body {
  padding: 1em;
  font-family: sans-serif;
}

.error {
  padding: 1em;
  background: red;
}

.success {
  padding: 1em;
  background: green;
}

.user-status {
  font-size: .9em;
  font-style: italic;
}
